<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Donate form</title>
</head>
<body>
  <div class="app">
    <div class="widget">
      <div class="widget-tooltip">
        <b>$167</b> still need for this project
      </div>
      <div class="widget-inner">
        <div class="widget-progress">
          <progress class="widget-progress__element" max="100" value="74"></progress>
          <div class="widget-progress__bg">
            <div class="widget-progress__bar"></div>
          </div>
        </div>
        <div class="widget-content">
          <p><b class="text-danger">Only 3 days left</b> to fund this project.</p>
          <p>Join the <b>42</b> other donors who have already supported this project. Every dollars helps.</p>

          <form class="widget-form">
            <div class="widget-form__group">
              <div class="widget-form__col">
                <label class="widget-form__label" data-currency="$">
                  <input type="text" class="widget-form__field" value="50">
                </label>
              </div>
              <div class="widget-form__col">
                <button class="widget-form__button">Give now</button>
              </div>
            </div>
            <div class="widget-form__group">
              <a class="widget-form__help" href="#">Why gives $50?</a>
            </div>
          </form>
        </div>
      </div>
      <div class="widget-footer">
        <div class="widget-footer__item">
          <button class="widget-footer__button">Save for later</button>
        </div>
        <div class="widget-footer__item">
          <button class="widget-footer__button">Tell your friends</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
